{{ label }}: {{ selection|length }}
<table class="ui very basic table">
{% for obj in selection %}
<tr>
    <td>
        <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
    </td>
    <td class="ui right aligned">
        {% if url_name %}
            {% if reverse_relationship %}
            <a href="{% url url_name obj.id start_obj.id %}" class="ui mini button">Edit relationship</a>
            {% else %}
            <a href="{% url url_name start_obj.id obj.id %}" class="ui mini button">Edit relationship</a>
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endfor%}
</table>
