{% extends "base.html" %}
{% load neo_extras %}

{% block content %}
<div class="ui main text container">
    <h1>Video: {{ video.name }}</h1>
    <ul>
        <li>
            {% show_relationship_items video video.required_by_videos 'Required by videos' %}
        </li>
        <li>
            {% show_relationship_items video video.required_videos 'Required videos' %}
        </li>
        <li>
            {% show_relationship_items video video.required_groups 'Required groups' %}
        </li>
        <li>
            {% show_relationship_items video video.contained_in_groups 'Contained in groups' %}
        </li>
    </ul>
    <p>
        {% if perms.nanou.manage_curriculum %}
        <a href="{% url 'videos:update' video.id %}" class="ui primary basic button">Edit</a>
        <a href="{% url 'videos:delete' video.id %}" class="ui negative basic button">Delete</a>
        <a href="{% url 'videos:list' %}" class="ui basic button">Back to list of videos</a>
        {% endif %}
    </p>
</div>
{% endblock %}
