{% extends "base.html" %}

{% block content %}
<div class="ui main text container">
    <h1 class="ui header">Videos</h1>
    <table class="ui single line table">
        <thead>
            <tr>
                <th>Name</th>
                <th class="right aligned">
                    {% if perms.base.manage_curriculum %}
                    <a href="{% url 'videos:create' %}" class="ui primary button">Add Video</a>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>
                    {% if perms.base.manage_curriculum %}
                    <a href={% url 'videos:detail' video.id %}>{{ video.name }}</a>
                    {% else %}
                    {{ video.name }}
                    {% endif %}
                </td>
                <td class="right aligned">
                    {% if perms.base.manage_curriculum %}
                    <a href="{% url 'videos:update' video.id %}" class="ui secondary basic button">Edit</a>
                    <a href="{% url 'videos:delete' video.id %}" class="ui negative basic button">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">
                    No Videos available.
                </td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
