{% extends "base.html" %}
{% load neo_extras %}

{% block content %}
<div class="ui main text container">
    <h1>Group: {{ group.name }}</h1>
    <ul>
        <li>
            {% show_relationship_items group group.required_by_videos 'Required by videos' %}
        </li>
        <li>
            {% show_relationship_items group group.contained_videos 'Contained videos' %}
        </li>
    </ul>
    <p>
        {% if perms.nanou.manage_curriculum %}
        <a href="{% url 'groups:update' group.id %}" class="ui primary basic button">Edit</a>
        <a href="{% url 'groups:delete' group.id %}" class="ui negative basic button">Delete</a>
        <a href="{% url 'groups:list' %}" class="ui basic button">Back to list of groups</a>
        {% endif %}
    </p>
</div>
{% endblock %}
