{% extends "base.html" %}

{% block content %}
<div class="ui text container">
    <h1>{{ is_new_instance|yesno:"New Group,Edit Group" }}</h1>
    <form class="ui form" action="" method="post">
        {% csrf_token %}

        {{ form.media }}
        {{ form.non_field_errors }}

        {% for field in form.visible_fields %}
        <div class="field">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        <input class="ui primary button" type="submit" value="Save" />
    </form>
</div>
{% endblock %}
