{% extends "base.html" %}

{% block content %}
<div class="ui main text container">
    <h1>Social user with id {{ socialuser.id }}</h1>
    <ul>
        <li>
            Required by videos: {{socialuser.watched_videos|length}}
            <ul>
                {% for v in socialuser.watched_videos %}
                <li>{{v.name}}</li>
                {% endfor%}
            </ul>
        </li>
    </ul>
    <p>
        {% if perms.nanou.manage_curriculum %}
        <a href="{% url 'socialusers:update' socialuser.id %}" class="ui primary basic button">Edit</a>
        <a href="{% url 'socialusers:list' %}" class="ui basic button">Back to list of social users</a>
        {% endif %}
    </p>
</div>
{% endblock %}
