{% extends "base.html" %}
{% load neo_extras %}

{% block content %}
<div class="ui main text container">
    <h1>Social user with id {{ socialuser.id }}</h1>
    <ul>
        <li>
            {% show_relationship_items socialuser socialuser.watched_videos 'Watched videos' %}
        </li>
    </ul>
    <p>
        {% if perms.base.manage_curriculum %}
        <a href="{% url 'socialusers:update' socialuser.id %}" class="ui primary basic button">Edit</a>
        <a href="{% url 'socialusers:list' %}" class="ui basic button">Back to list of social users</a>
        {% endif %}
    </p>
</div>
{% endblock %}
